.pagination{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    >*{
        cursor: pointer;
    }
}
.pagination__link{
    transition: all .25s;
    padding: .2rem .6rem;
    border-radius: .3rem;
}

.pagination__link__active{
    background-color: #007aff;
    color: #FFF;
}